<div class="todo-list-container" data-cy="todo-list-container">
  <h3 class="todo-title" data-cy="todo-title">Todo</h3>

  <div class="todo-input-container" data-cy="todo-input-container">
    <input
      #todoText
      type="text"
      placeholder="Try typing something here"
      [(ngModel)]="newTaskText"
      [ngModel]="newTaskText"
      data-cy="todo-input"
    />
    <button
      type="submit"
      (click)="editMode ? updateTask() : addTask(todoText.value)"
      data-cy="add-update-btn"
    >
      {{ editMode ? "Update" : "Add" }}
    </button>

    <button
      *ngIf="editMode"
      type="button"
      (click)="cancelEdit()"
      data-cy="cancel-btn"
    >
      Cancel
    </button>
  </div>

  <ul class="todo-list" data-cy="todo-list-container">
    <li *ngFor="let item of todoList">
      <input
        type="checkbox"
        [checked]="item.completed"
        (change)="toggleCompleted(item.id)"
      />
      <span>{{ item.task }}</span>
      <div class="delete-edit-container">
        <button class="delete-btn" (click)="deleteTask(item.id)">Delete</button>
        <button class="edit-btn" (click)="editTask(item.id)">Edit</button>
      </div>
    </li>
  </ul>

  <h4 data-cy="completed-tasks-title">Completed Tasks</h4>
  <ul data-cy="completed-tasks-list">
    <li *ngFor="let item of completedList">
      <span>{{ item.task }}</span>
    </li>
  </ul>
</div>
